@tailwind base;
@tailwind components;
@tailwind utilities;

.right {
  right: 0;
}

.left {
  left: 0;
}

@media (max-width: 768px) {
  .hover-card {
    top: calc(100% + 1rem);
    right: auto;
  }
}