@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-card-right {
  right: auto;
  left: 0;
}

.hover-card-left {
  left: auto;
  right: 0;
}

@media (max-width: 768px) {
  .hover-card {
    top: calc(100% + 1rem);
    right: auto;
    left: auto;
  }
}

.icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-md);
  font-weight: var(--font-medium);
  background-color: var(--ring-offset-background);
  transition: var(--transition-colors);
  outline: none;
  box-shadow: 0 0 0 var(--ring-2) var(--ring-ring), 0 0 0 var(--ring-offset-2) transparent;
  pointer-events: auto;
  opacity: 1;
  &:hover {
    background-color: var(--accent);
    color: var(--accent-foreground);
  }
  height: 10px;
  padding: 2px 4px;
  font-size: var(--text-xs);
}